<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Radek % Dawid"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <!--    Font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>

<div class="container">
    <h2>Credit Card</h2>

    <h3>Total price: <span th:text="${totalPrice}">total price value</span></h3>

    <h4>Fill that form using correct data to finish payment</h4>

    <form action="/order-summary" method="post">
        <label for="card-number">Card number</label>
        <input type="number" name="card-number" id="card-number" size="16" required>
        <label for="card-holder">Card holder</label>
        <input type="text" name="card-holder" id="card-holder" minlength="4" required>
        <label for="expiry-date">Expiry date</label>
        <input type="date" name="expiry-date" id="expiry-date" pattern="/^(0[1-9]|1[0-2])\/?([0-9]{4}|[0-9]{2})$/" required>
        <label for="code">Code</label>
        <input type="text" name="code" id="code" size="4" pattern="^[a-zA-Z0-9]+$" required>

        <input type="submit" id="pay-btn" value="Pay">
    </form>

    <a href="/order" class="btn btn-warning">Go back</a>
</div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>